button{
    border: 0px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.scanner,
.infos,
.accounts{
    padding: 1rem 2rem;
    background-color: rgba(207, 207, 207, 0.565);
    border-radius: 5px;
}

.btn-green{
    background-color: green;
}

.found{
    background-color: blue;
}
.without{
    background-color: red;
}

.stats{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.count{
    padding: .2rem .5rem;
    background-color: grey;
    border-radius: 5px;
    margin-left: 10px;
}

.separationInformation{
    border: 2 px solid;
}

.tableauInfo{
    width: 100%;
    text-align: left;
    margin-bottom: 2em;
}

.connectionInformation
{
    width: 10%;
}

.onlineInformation
{
    background-color: greenyellow;
}

.accounts_table th{
    border-bottom: 2px solid black;
    text-align: start;
    padding-bottom: 10px;
}

.accounts_table{
    border-collapse: collapse;
    width: 100%;
}


.accounts_table input{
    width: 95%;
}

.accounts_table td{
    border-bottom: 1px solid grey;
    padding: 10px 0px;
}